#TodoHistoyTodoItem{
  position: relative;
  font-size: 14px;
  padding: 8px 16px;;
  &:hover{
    background: #f4f4f4;
    .action{
      display: block;
      span{
        color:rgba(233, 82, 87, 0.8);
      }
    }
  }
  .timeRange{
    color: #999;
  }
  .description{
    color: #222;
    margin-left: 16px;
  }
  .action{
    display: none;
    position: absolute;
    right: 0;
    top: 8px;
    >span{
      cursor: pointer;
      margin-right: 16px;
    }
  }
}