#CountDown{
  position: relative;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px 0;
  >.process{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: rgba(233, 82, 87, 0.2);
    z-index: 0;
  }
  >span{
    position: relative;
    z-index: 1;
  }
}