#TomatoList{
  margin-top: 16px;
  border-top: 1px solid #ddd;
  .dailyTomatoes{
    padding-top: 16px;
    .title{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 4px;
      .dateTime{
        color: #999;
        font-size: 16px;
      }
      .finishedCount{
        color: #999;
        font-size: 13px;
      }
    }
    .TomatoItem{
      font-size: 14px;
      .timeRange{
        color: #999;
      }
      .description{
        color: #222;
        margin-left: 10px;
      }
    }
    
  }
}