#Statistics {
  ul {
    display: flex;
    border: 1px solid #ddd;
    height: 202px;
    > :first-child {
      border-right: 1px solid #ddd;
    }
    > :last-child {
      border-left: 1px solid #ddd;
    }
    .active {
      background: #f4f4f4;
    }
    li {
      flex: 1;
    }
  }
}
